 .my-custom-class {
                    background-color:  LightGray;
                    background-position: center;
                    padding: 100px;

        }
.logo{
    border-left: 1px solid #ccc;
    weight: 50px;
    height:50px;

}
header{
background-color: #008B8B;
}
